nav {
	display: flex;
	width: 500px;
}

nav > div {
	flex-basis: 0;
	flex-grow: 1;
}

nav > div > a {
	display: block;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	color: #dc0000;
	transition: 200ms;
	
}

nav > div > a:hover {
	background-color: #dc0000;
	color: #fff;
	transition: 150ms;
}